{% callout "info", "html", "" %}
<p><strong>Build Awesome Pro</strong> is a new web site builder that will help anyone launch and maintain a web site (no installation required). Visual editing and collaboration, <em>zero lock-in</em>, while helping to fund continued maintenance of the open source project for the entire community.</p>

<div class="util-flex util-center">
	<a href="/pro/" class="announcement-btn announcement-btn--inline"><i class="fa-brands fa-build-awesome"></i>Build Awesome Pro <span class="announcement-tag">Coming Soon!</span></a>
{%- if page.url != "/docs/" %}
	<a href="/docs/">Or install locally (free)<i class="fa-solid fa-arrow-right util-icon-sm"></i></a>
{%- endif %}
</div>
{% endcallout %}