{% callout "info", "html", "" %}
<p>Are terminal windows and command lines not your thing?</p>
<p><strong>Build Awesome Pro</strong> is a new web site builder that will help anyone launch and maintain a web site (no installation or command line required). Visual editing and collaboration, zero lock-in, and you help to fund continued maintenance of the open source project for the entire community.</p>

<div class="util-flex util-center">
	<a href="/pro/" class="btn-brand"><i class="fa-brands fa-build-awesome"></i>Build Awesome Pro <span class="btn-tag">Coming Soon!</span></a>
{%- if page.url != "/docs/" %}
	<a href="/docs/">Or install locally (free)<i class="fa-solid fa-arrow-right util-icon-sm"></i></a>
{%- endif %}
</div>
{% endcallout %}