{#- Brand icon links, shared by the header nav and the footer. Emits <li> only. -#}
<li><a href="https://github.com/11ty/buildawesome/" class="elv-skipicon"><i class="fa-brands fa-github"></i><span class="sr-only">GitHub</span></a></li>
<li><a href="https://neighborhood.11ty.dev/@11ty" class="nound elv-nav-sociallink"><i class="fa-brands fa-mastodon"></i><span class="sr-only">Mastodon</span></a></li>
<li><a href="https://bsky.app/profile/11ty.dev" class="nound elv-nav-sociallink"><i class="fa-brands fa-bluesky"></i><span class="sr-only">Bluesky</span></a></li>
<li><a href="{{ socialLinks.linkedin }}" class="nound elv-nav-sociallink"><i class="fa-brands fa-linkedin"></i><span class="sr-only">LinkedIn</span></a></li>
<li><a href="https://www.youtube.com/c/EleventyVideo" class="nound elv-externalexempt elv-nav-sociallink"><i class="fa-brands fa-youtube"></i><span class="sr-only">YouTube</span></a></li>
<li><a href="{{ socialLinks.discord }}" class="nound elv-nav-sociallink"><i class="fa-brands fa-discord"></i><span class="sr-only">Discord</span></a></li>
