<a href="https://github.com/11ty/buildawesome" class="minilink minilink-github elv-skipicon"><i class="fa-solid fa-star"></i> {% if github.stargazers %}<strong title="{{ github.stargazers }}">{{ github.stargazers | humanReadableNum }}</strong>{% endif %}</a> <a href="https://github.com/11ty/buildawesome" class="elv-skipicon"><i class="fa-brands fa-github util-icon-sm"></i><strong>Star Build Awesome on GitHub!</strong></a>