.announcement {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	color: #fff;
	font-weight: 700;
	padding: 0.25em 1em;
	gap: .5em;
}
@media (min-width: 48em) {
	/* 768px */
	.announcement {
		font-size: 1em;
		font-size: clamp(1em, 2vw, 1.25em);
	}
}
.announcement {
	display: flex;
	justify-content: center;
	font-weight: 700;
	flex-wrap: wrap;
}

.products .announcement svg {
	min-width: 1em;
}

.elv-footer-wrap .announcement {
	background-color: color-mix(in oklab, var(--background-color), #183153 85%);
}
