/* Mini link */
.minilink {
	display: inline-flex;
	align-items: center;
	gap: .25em;
	padding: 0.125em 0.625em; /* 10px /16 */
	text-transform: uppercase;
	font-size: 0.7222222222222em; /* 13px /18 */
	text-decoration: none;
	background-color: #ddd;
	border-radius: 1em; /* 16px /16 */
	font-weight: 500;
	margin: 0 0.4285714285714em; /* 0 6px /14 */
	vertical-align: baseline;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);

	&:first-child {
		margin-inline-start: 0;
	}

	@media (prefers-color-scheme: dark) {
		background-color: #333;
		color: #fff;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
	}
}
.minilink[href] {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.minilink[href]:hover,
.minilink[href]:focus {
	background-color: #eee;
}
@media (prefers-color-scheme: dark) {
	.minilink[href]:hover,
	.minilink[href]:focus {
		background-color: #444;
	}
}
pre + .minilink {
	color: #fff;
	border-radius: 0 0 0.2857142857143em 0.2857142857143em; /* 4px /14 */
	float: right;
	background-color: #444;
	color: #fff;
}
pre[class*="language-"] + .minilink {
	position: relative;
	top: -0.7142857142857em; /* -10px /14 */
}
p.minilink {
	float: right;
	margin-left: 2em;
	margin-bottom: 2em;
}
h1 .minilink,
h2 .minilink,
h3 .minilink,
h4 .minilink {
	font-size: 0.9375rem; /* 15px /16 */
	vertical-align: middle;
	margin-left: 1em;
}
h3 .minilink,
h4 .minilink {
	font-size: 0.8125rem; /* 13px /16 */
}
.minilink + pre[class*="language-"] {
	clear: both;
}

.minilink-addedin {
	text-transform: none;
}
.minilink-addedin:not(:first-child) {
	margin-left: 0.5em;
}
.minilink-addedin.minilink-inline {
	margin: 0 4px;
	background-color: #fff;

	@media (prefers-color-scheme: dark) {
		background-color: #000;
	}
}

.minilink-lower {
	text-transform: none;
	background-color: transparent;
}
.minilink-lower[href] {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.minilink-lower[href]:hover,
.minilink-lower[href]:focus {
	background-color: #eee;
}

.minilink > .minilink {
	margin: -0.125em 0.375em -0.125em -0.375em;
	box-shadow: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* Build cost */
.minilink-buildcost {
	font-weight: 700;
	text-transform: uppercase;
}
.minilink-buildcost code {
	margin-right: .25em;
}
.minilink-buildcost code:before {
	content: "🧰";
	margin-right: 0.25em;
}

a[href]:hover .minilink-buildcost,
a[href]:focus .minilink-buildcost {
	outline: 2px solid blue;
}

/* GitHub star count */
.minilink-github.minilink-github {
	background-color: #f6f8fa;
	color: #222;
}
.minilink-github > :first-child {
	color: #eac54f;
}
@media (prefers-color-scheme: dark) {
	.minilink-github.minilink-github {
		background-color: #222;
		color: #fff;
	}
}
