---
layout: layouts/docs.njk
---
{% css %}
/* Language List */
.elv-langlist {
	margin: 2em 0;
}
.elv-langlist-logo {
	max-width: 200px;
}
{% endcss %}

<h1>{{ eleventyNavigation.key }}{% if addedInVersion %}{% addedin addedInVersion%}{% endif %}</h1>

{% if logoImage %}
<p><img src="{{ logoImage }}" alt="Logo for {{ eleventyNavigation.key }}" eleventy:widths="200,400" class="elv-langlist-logo" sizes="200px"></p>
{% endif %}

{{ content | safe }}