---
layout: layouts/base.njk
---
<div class="elv-skip">
	<a href="#skip-nav">Skip to navigation</a>
	<a href="#skip-content">Skip to main content</a>
</div>

{% include "header.njk" %}

<main class="elv-layout elv-layout-toc{% if classAdditions.main %} {{ classAdditions.main }}{% endif %}" {% if not excludeFromSearch %} data-pagefind-body{% endif %}>
	{% include "components/docs-toc.njk" %}
	<div id="skip-content">
		{%- if not isDocs %}
		<h1 class="elv-hed">{{ headerTitle | safe }}</h1>
		{%- endif %}
		<heading-anchors selector="h2,h3,h4">{{ content | safe }}</heading-anchors>
	</div>
</main>

<footer class="elv-footer-wrap">
	{% include "components/announcement.njk" %}

	<div class="elv-footer elv-layout">
	{% include "social-callout.njk" %}
{% if not ignoreSupporters %}
	{% include "supporters.njk" %}
{% endif %}

	{% include "footer-nav.njk" %}
	</div>
</footer>
