---
layout: layouts/base.njk
---
<div class="elv-skip">
	<a href="#skip-nav">Skip to navigation</a>
	<a href="#skip-content">Skip to main content</a>
</div>

{% include "header.njk" %}

<main class="elv-layout elv-layout-toc{% if classAdditions.main %} {{ classAdditions.main }}{% endif %}" {% if not excludeFromSearch %} data-pagefind-body{% endif %}>
	{% include "components/docs-toc.njk" %}
	<div id="skip-content">
		<heading-anchors selector="h2,h3,h4">{{ content | safe }}</heading-anchors>
	</div>
</main>

<footer class="elv-footer-wrap">
	{%- include "components/announcement.njk" -%}
	<div class="elv-footer elv-layout">
	{%- include "social-callout.njk" -%}
	{%- if not ignoreSupporters -%}
		{%- include "supporters.njk" -%}
	{%- endif -%}
	{%- include "footer-nav.njk" -%}
	<ul class="list-bare fl fl-inline fl-center elv-footer-social nowrap">
		<li>
			<i class="fa-brands fa-build-awesome"></i>Build Awesome v{{ eleventy.version }}
		</li>
		<li>
			<is-land import="/js/time-difference.js" on:idle><time-difference live><em>Built <time datetime="{{ config.now | toISO }}">{{ config.now | newsDate }}</time></em></time-difference></is-land>
		</li>
		<li class="fl-grow"></li>
		<li><a href="https://www.npmjs.com/org/11ty" class="nound elv-externalexempt elv-nav-sociallink"><i class="fa-brands fa-npm fa11ty-npm"></i><span class="sr-only">npm</span></a></li>
		{%- include "social-icons.njk" %}
	</ul>
	</div>
</footer>
