{%- set tabid = "fullopts" %}
<div class="codetitle codetitle-right-md">my-node-script.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist autoheight>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">
{%- set codeBlock %}{% raw %}
import BuildAwesome from "@awesome.me/buildawesome";

let ba = new BuildAwesome(".", "_site", {
	// --quiet
	quietMode: true,

	// --config
	configPath: "buildawesome.config.js",

	config: function ($config) {
		// Do some custom Configuration API stuff
		// Works great with $config.addGlobalData
	},
});

// Use `write` or `toJSON`
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">
{%- set codeBlock %}{% raw %}
(async function () {
	const { default: BuildAwesome } = await import("@awesome.me/buildawesome");

	let ba = new BuildAwesome(".", "_site", {
		// --quiet
		quietMode: true,

		// --config
		configPath: "buildawesome.config.js",

		config: function ($config) {
			// Do some custom Configuration API stuff
			// Works great with $config.addGlobalData
		},
	});

	// Use `write` or `toJSON`
})();
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>
